@use '../shared/styles/details-base';

.vscode-high-contrast,
.vscode-dark {
	--gl-color-background-counter: #fff;
}

.vscode-high-contrast-light,
.vscode-light {
	--gl-color-background-counter: #000;
}

.commit-detail-panel {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.details-tab {
	flex: none;
}

main {
	flex: 1 1 auto;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
}

[hidden] {
	display: none !important;
}

gl-commit-details,
gl-wip-details {
	display: contents;
}

webview-pane-group {
	height: 100%;
}

.popover-content {
	background-color: var(--color-background--level-15);
	padding: 0.8rem 1.2rem;
}

.top-details__actionbar {
	&--highlight {
		padding-block: 0.2rem;
	}

	&--selector {
		padding-inline-start: 2rem;

		.commit-action {
			// font-family: var(--vscode-editor-font-family);
		}
	}

	&-group--selector {
		align-items: center;
	}

	&--pr {
		background-color: var(--color-background--level-05);
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: 0.4rem;
		// padding-inline: 0.6rem 0.4rem;
		color: inherit;
		text-decoration: none;
		margin-left: 0.2rem;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
			background-color: var(--color-background--level-10);
		}

		&:focus {
			outline: 1px solid var(--vscode-focusBorder);
			outline-offset: -1px;
		}

		code-icon {
			color: var(--vscode-gitlens-mergedPullRequestIconColor);
		}
	}
}

.inspect-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start; // center;
	justify-content: space-between;
	gap: 0.4rem;
	border-top: 2px solid var(--color-background--level-15);

	&__tabs {
		flex: none;
		display: flex;
		flex-direction: row;
		// gap: -0.8rem;
		align-items: flex-start;
	}

	&__tab {
		appearance: none;
		background-color: var(--color-background--level-10);
		color: var(--color-foreground--85);
		border: none;
		border-radius: 0 0 0.5rem 0.5rem;
		padding: 0.4rem 1.2rem;
		cursor: pointer;

		&:last-child {
			margin-inline-start: -0.6rem;
		}

		&.is-active {
			position: relative;
			z-index: 1;
			background-color: color-mix(in srgb, var(--gl-color-background-counter) 25%, var(--color-background));
			padding-block: 0.6rem;
			box-shadow: 0 -2px 0 0 var(--vscode-button-hoverBackground);
			color: var(--color-foreground);
		}
	}

	&__content {
		flex: 1;
		margin: {
			top: 0.3rem;
			right: 0.3rem;
		}
	}
}
